XML/flo/lol.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="TypeClient">
    <xs:restriction base="xs:string">
        <xs:enumeration value="Adulte"/>
        <xs:enumeration value="Famille"/>
        <xs:enumeration value="Enfant"/>
    </xs:restriction>
</xs:simpleType>

<xs:complexType name="Identite">
    <xs:sequence>
        <xs:element name="nom" type="xs:string"/>
        <xs:element name="prenom" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="Client">
    <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="identite" type="Identite"/>
        <xs:element name="type" type="TypeClient"/>
    </xs:sequence>
</xs:complexType>

Now with attributes instead of elements (e.g. <client id="123" type="abc"><identite nom="arzeer" prenom="erzrezrze" /></client>)

<xs:complexType name="Identite">
    <xs:attribute name="nom" type="xs:string"/>
    <xs:attribute name="prenom" type="xs:string"/>
</xs:complexType>

<xs:complexType name="Client">
    <xs:complexContent>
        <xs:extension base="Identite">
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="type" type="TypeClient"/>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

Make a newtype for id:

<xs:simpleType name="ClientId">
    <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:complexType name="Identite">
    <xs: name